# =========================
# ASP.NET Core
# =========================
**/bin/
**/obj/
**/.vs/

# =========================
# Visual Studio / VS Code
# =========================
.vs/
.vscode/
*.user
*.suo

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
Thumbs.db
.DS_Store

# =========================
# Secrets
# =========================
**/appsettings.Development.json